.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 27%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 10px 10px;
}

img {
    width: 300px;
    height: 300px;
}